*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    margin: 30px;
}
td{
    text-align: right;
}

table,td{
    border: 1.5px solid black;   
    height: 32px;
    width: 760px;
    border-collapse: collapse; 
}